@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
	position:absolute;
	height:100%;
	width:100%;
	font-family:Roboto;
	margin:0;
	padding:0;
}
body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
	background: #ffaf4b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
h1.logo{
	background:url(../img/logo.png);
	width:241px;
	height:45px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-22px 0 0 -120px; 
	text-indent:-99999px;
}
h2{
	position:absolute;
	top:50%;
	text-align:center;
	height:45px;
	padding-top:15px;
	color:#FFF;
	font-size:14px;
	width:100%;
	font-weight:normal;
}